.create-nfts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffcce4;
}
.image-upload:hover {
  cursor: pointer;
}
.video-upload:hover {
  cursor: pointer;
}
.create-nfts h1 {
  margin-bottom: 5vh;
  font-size: 43px;
}
.image-upload,
.video-upload {
  border: 1px solid #ffe640;
  width: 321px;
  border-radius: 63px;
  height: 447px;
  display: flex;
  color: #ffe640 !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-upload p,
.video-upload p {
  font-size: 54px;
  color: #ffe640;
}
.image-upload svg,
.video-upload svg {
  width: 126.6px;
  height: 87.73px;
}
.multi-media {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
