@import '../../../utils/styles/mixins';

.product-card {
  background-color: var(--primary);
  width: 350px;
  margin-bottom: 60px !important;
  color: #6f6f6f;
  @include boxShadow(0px, 3px, 40px);
  cursor: pointer;
  padding: 0px;
  border-radius: 20px;

  &:hover {
    transform: scale(1.01);
    @include boxShadow(0px, 3px, 40px, 3px, #000);
  }
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .rating {
    display: flex;
    gap: 10px;
    font-size: 16px;
    align-items: center;
    span {
      display: flex !important;
      gap: 5px;
      justify-content: center;
    }
  }
  .button-group {
    .btn {
      padding: 5px 30px;
    }

    .button-group__left {
      background-color: #361e50 !important;
    }
    .button-group__right {
      background-color: #2f588c !important;
      font-size: 20px;
    }
  }
  .product-price {
    color: #24aae1;
    font-size: 17px;
    font-weight: 700;
  }

  .header {
    margin: 0px;
    position: relative;
    margin-bottom: 10px;
    .profile .profile-block {
      width: 55px;
      height: 55px;
      .tick-icon {
        width: 12px;
        height: 12px;
        bottom: 2px;
        right: 4px;
      }
    }
    .card-img-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 300px;
    }
    p.sm {
      font-size: 12px;
    }
    p.md {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .card-footer {
    padding: 10px 7px;
    margin-top: 0px;
    p {
      font-size: 18px;
    }
    .btn-curve {
      border-bottom-right-radius: 20px;
      @include boxShadow(0px, 3px, 10px, 0px, #1a1b1d);
    }
  }

  @media (max-width: 576px) {
    .button-group {
      .btn {
        padding: 3px 10px;
      }
    }
  }
}
