.external-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .external-link__item {
    box-shadow: 0 0 3px #181819;
    padding: 10px;
    color: #181819;
    font-weight: 500;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
      margin-right: 10px;
    }
  }
}
