.profile-detail {
  // background-color: #fff;
  // padding-bottom: 120px;
  width: 85%;
  border-radius: 15px;
  // padding: 0 100px;
  margin: 0 auto;
  margin-top: 370px;

  background-color: #3c7d9e;
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .user-info {
    .row {
      img {
        width: 50px;
      }
    }
    .info-text {
      &.primary {
        color: #673093;
        padding-bottom: 10px;
        &.lg {
          font-size: 30px;
        }
      }
      &.secondary {
        font-size: 18px;
      }
    }
  }
  .user-info {
    margin-top: -90px;
  }
  .product-card {
    border: 0;
    box-shadow: none;
    background-color: #e2d6ea;
    &:hover {
      box-shadow: none;
    }
    .button-group {
      margin: 0;
      .button-group__left {
        background: #bba6cf;
      }
      .button-group__right {
        background: #7ca5d6;
      }
    }
    .header {
      margin-bottom: 24px;
      img {
        height: 200px;
        background-color: #e2d6ea;
      }
    }
    .user-area > div {
      padding: 0 10px;
      .profile-block {
        width: 40px;
        height: 40px;
      }
      p {
        color: #673093;
      }
    }
    .action-area > div {
      padding: 5px;
    }
  }
  .edit-profile p {
    color: #0f0237;
  }

  .container {
    margin-top: -170px;
  }
  .banner {
    display: flex;
    margin: 0 auto;

    justify-content: center;
    height: 300px;
    overflow: hidden;
    margin: 0px;
    // margin-top: -50px;
    img {
      width: 100%;
    }
  }
  h3 {
    color: white;
    border-bottom: 1px solid #d8d1d1;
    margin-top: 20px;
  }
  .bio-text-field {
    width: 80vw;
  }
  .align-self-end {
    position: absolute;
    right: 10%;
    color: white;
  }
  .joined {
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding: 10px;
    color: white;
  }
  .link-btn p {
    font-size: 20px;
  }
  .edit-profile-link {
    text-align: right;
    color: white;
  }
  .edit-icon-svg {
    vertical-align: top;
    width: 17px;
    margin-right: 5px;
  }
  .user-name-img {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .username {
    margin-right: 20px;
    border: none !important;
    font-size: 46px;
    color: white;
    font-family: Acme-Regular;
  }
  .profile-nav-items {
    // display: flex !important;
    // justify-content: center !important;
    // width: fit-content;
    margin-top: 100px;
  }
  .nav-item-container {
    display: flex;
    border: none !important;
    justify-content: center;
  }
  .created-cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .profile-cards {
    background: #5194b5;
    width: 462px;
    margin-bottom: 4vh;
    height: 537px;
  }
  .user-block {
    display: flex;
    justify-content: space-between;
    @media (min-width: 576px) {
      .profile-block {
        width: 225px;
        height: 225px;

        .tick-icon {
          width: 32px;
          height: 32px;
          bottom: -4px;
          right: -10px;
        }
      }
    }
  }

  .social-buttons {
    margin: 0;
  }

  .nav {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #d8d1d1;

    .nav-item {
      font-size: 30px;
      .nav-link {
        border: none;
        color: white;
      }
      &:first-child .nav-link {
        padding-left: 0px;
      }
      &:last-child .nav-link {
        padding-right: 0px;
      }
      .nav-link.active {
        color: #36ffff;
        background-color: transparent;
        border-bottom: 3px solid #36ffff;
      }
    }
  }

  @media (max-width: 576px) {
    .banner {
      height: 120px;
    }
    .container {
      margin-top: -40px;
    }
    .username {
      font-size: 40px;
      img {
        width: 40px;
      }
    }
    .nav-item {
      font-size: 16px !important;
    }
    .user-info {
      .row {
        img {
          width: 40px;
        }
      }
    }
    .product-card {
      .header {
        img {
          height: 280px;
        }
      }
    }
  }
}
